doctype
html
    head
        block meta
            //- Required meta tags
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        block css
            link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto', type='text/css')
            link(rel='stylesheet', href='css/app.css')





    body
        block content






    block scripts